[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = git@github.com:elixir-lang/vim-elixir.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/VimClojure"]
	path = bundle/VimClojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule "bundle/elm.vim"]
	path = bundle/elm.vim
	url = git@github.com:lambdatoast/elm.vim.git
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git@github.com:vim-ruby/vim-ruby.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = git@github.com:tpope/vim-speeddating.git
[submodule "bundle/vim-licenses"]
	path = bundle/vim-licenses
	url = git@github.com:dhinojosa/vim-licenses.git
[submodule "bundle/nova-vim"]
	path = bundle/nova-vim
	url = git@github.com:trevordmiller/nova-vim.git
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
